*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;

}

body{
    background-color: var(--cinza);
    font-family: "Roboto Condensed", sans-serif;
 
}

:root {
    --cinza: #caccd1;
    --rosa: #c75c71;
    --rosa-claro: #ceabb5;

}